* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --orange-color: #fd7e14;
  --orangeText-color: #df6602;
  --darkorangeText-color: #472101;
  --blue-color: #091f4e;
  --bg-color: #fff9f2;
  --white-color: #fff;
  --brownText-color: #281801;
  --greyText-color: #606265;
  --lightgreyText-color: #c1c1c1;
  --blueText-color: #011b33;
  --linkText-color: #0a2440;
  --linkbg-color: #154a84;
  --black-color: #000;
}

/* utiliyies   ///////////////////////////////////////////////////////////// */

.lead {
  color: var(--orangeText-color);
  font-weight: 600;
  font-size: 18px;
  line-height: 22.5px;
}

.h2 {
  color: var(--blue-color);
  font-size: 45px;
  font-weight: 700;
  line-height: 48px;
}

.lead-p {
  color: var(--greyText-color);
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: 0.5px;
}

/* body ////////////////////////////////////////////////////////////////// */
body {
  text-decoration: none;
}

#container {
  max-width: 1440px;
  margin: auto;
  /* padding: 0 1.5rem; */
  overflow: hidden;
}

/* nav bar /////////////////////////////////////////////////////////////// */
#main-nav {
  position: fixed;
  z-index: 1;
  top: 0;
  display: flex;
  width: 1440px;
  height: 62px;
  margin-top: 20px;
  background-color: var(--bg-color);
}

/* .main-nav  {
  display: none !important;
} */

/* nav img{
  margin-left: 25px;
  margin-bottom: 10px;
} */
nav a img {
  margin-left: 25px;
  margin-bottom: 10px;
  width: 100px;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding-left: 800px;
  margin-top: 15px;
}
nav ul li {
  margin-left: 21px;
  line-height: 29px;
}
nav ul li a {
  text-decoration: none;
  color: var(--linkText-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 29px;
  font-family: mulish;
}

#sign {
  background-color: var(--linkbg-color);
  width: 103px;
  height: 37px;
  border-radius: 4px;
  padding: 6px 25px 6px 25px;
  line-height: 29px;
  margin-top: -9px;
}
#sign a {
  color: var(--orange-color);
}

/* header section ////////////////////////////////////////////////////////// */

header {
  height: 782px;
  background-color: var(--bg-color);
  display: flex;
}

#headerContent {
  margin-left: 100px;
  margin-top: 179px;
}
#headerContent h1 {
  font-size: 84px;
  font-weight: 800;
  line-height: 74px;
  color: var(--blue-color);
  letter-spacing: 1.25%;
  width: 587px;
  height: 148px;
}
#headerContent #headText {
  font-size: 24px;
  font-weight: 350;
  line-height: 36px;
  letter-spacing: 0.5px;
  color: var(--blueText-color);
  width: 643px;
  height: 72px;
}

#free {
  color: var(--orangeText-color);
}

#headerContent img {
  height: 43px;
  width: auto;
  /* padding-left: 10px; */
}

#headerContent #badge-img {
  margin-right: 30px;
  margin-top: 4px;
}

#headerImage {
  height: 667px;
  width: 1000px;
  margin-left: -80px;
  margin-top: 90px;
}

#bill {
  color: var(--darkorangeText-color);
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-weight: 350;
  width: 584px;
  padding-top: -100px;
}

#headerbtn {
  margin-top: 50px;
  background-color: var(--orange-color);
  width: 310px;
  height: 56px;
  border-radius: 4px;
  border: none;
  font-size: 18px;
  font-weight: 500;
  color: var(--blueText-color);
}

#trusted {
  color: var(--lightgreyText-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 25.5px;
  margin-top: 36px;
  margin-left: 20px;
}

#headbadges {
  margin-left: 10px;
  margin-top: 24px;
}
#headbadges img {
  margin-right: 16px;
}

/* about section ///////////////////////////////////////////////////////// */

#about {
  text-align: center;
  margin-bottom: 90px;
}

#about-lead {
  color: var(--orangeText-color);
  font-weight: 600;
  font-size: 24px;
  line-height: 22.5px;
  margin-top: 120px;
}

#about-h2 {
  color: var(--blue-color);
  font-size: 45px;
  font-weight: 700;
  line-height: 48px;
  max-width: 765px;
  margin: auto;
  margin-top: 8px;
}

#about-lead-p {
  color: var(--greyText-color);
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  max-width: 550px;
  margin: auto;
  margin-top: 24px;
  letter-spacing: 0.5px;
  text-align: center;
}

#aboutCards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;
}

.card {
  box-shadow: 0px 20px 50px 0px rgba(18, 17, 39, 0.08);
  width: 300px;
  height: 297px;
  border-radius: 12px;
  padding: 56px 24px 56px 24px;
  margin-top: 30px;
  margin-left: 24px;
}

.card h3 {
  line-height: 22.4px;
  font-size: 24px;
  font-weight: 600;
  color: var(--brownText-color);
  margin-top: 30px;
}

.card p {
  line-height: 25.2px;
  font-size: 20px;
  font-weight: 500;
  color: var(--greyText-color);
  margin-top: 30px;
}

#about #aboutCards .about-svg {
  font-size: 30px;
  color: #1685ee;
}

/* account section ////////////////////////////////////////////////////// */

#account {
  background-color: var(--bg-color);
  height: 600px;
  display: flex;
  flex-direction: row-reverse;
}

/* #account #accountbtn {
  display: none;
} */

#accountContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin-left: 100px; */
  /* padding-left: 100px; */
  margin: auto;
}

#account-h2 {
  max-width: 488px;
  margin-top: 10px;
}

#account-lead {
  font-size: 24px;
  margin: auto;
}

#account-lead-p {
  max-width: 472px;
  margin-top: 24px;
  text-align: center;
}

#accountImage img {
  height: 530px;
  width: 650.6px;
  margin-left: 100px;
  margin-top: 70px;
}

#account #accountbtn {
  display: inline-block;
  width: 310px;
  height: 56px;
  font-size: 18px;
  border-radius: 4px;
  background-color: #fd7e14;
  color: var(--blueText-color);
  border: none;
  margin-top: 30px;
  margin-left: 90px;
}

/* team section //////////////////////////////////////////////////////// */
#team {
  text-align: center;
  margin-top: 90px;
}

#team h2 {
  max-width: 543px;
  margin-top: 8px;
  margin: auto;
}

.emoji img {
  border-radius: 50%;
  height: 96px;
  width: 96px;
}

#emojiTeam {
  margin-top: 64px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 100px;
}

/* refer section ////////////////////////////////////////////////// */

#refer {
  background-color: var(--bg-color);
  height: 421px;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

#referContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 100px;
}

#referImage img {
  height: 400px;
  width: 599.7px;
  margin-top: 21px;
  margin-left: 47px;
}

#referbtn {
  margin-top: 50px;
  background-color: var(--orange-color);
  width: 192px;
  height: 56px;
  border-radius: 4px;
  border: none;
  font-size: 18px;
  font-weight: 500;
  color: var(--blueText-color);
}

#refer-h2 {
  margin-top: 8px;
}

#refer-lead-p {
  margin-top: 24px;
  max-width: 576px;
}

/* join us section  /////////////////////////////////////////////// */

#join {
  display: flex;
  flex-direction: row;
  margin-top: -50px;
  margin-bottom: 40px;
}

#joinContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 100px;
}

#joinImage img {
  margin-left: 100px;
  height: 398.9px;
  width: 551px;
  margin-top: 84px;
}

#join-h2 {
  margin-bottom: 200px;
  font-size: 32px;
  margin-left: 70px;
}

#join-lead {
  font-size: 24px;
  margin: auto;
  margin-bottom: 20px;
}

#join-lead-p {
  max-width: 445px;
  margin-top: 24px;
  text-align: center;
}

#joinContent a {
  display: flex;
  justify-content: center;
}

#join-lead-p {
  max-width: 445px;
  margin-top: -180px;
  text-align: center;
}

#joinlink {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  color: var(--orange-color);
  margin-top: 24px;
  text-decoration: underline;
}

/* contact section ////////////////////////////////////////////////// */

#contact {
  height: 804px;
  background-color: var(--bg-color);
}

#contact-lead {
  padding-top: 120px;
  display: flex;
  font-size: 24px;
  justify-content: center;
}

#contact-lead-p {
  width: 307px;
  line-height: 27px;
  letter-spacing: 0.5px;
  margin-top: 22px;
}

#socialsIcons {
  margin-top: 25px;
  padding-right: 30px;
}

#contactContainer #socialsIcons svg {
  color: #848994;
  font-size: 24px;
  margin-right: 28px;
}

#contactContainer #socialsIcons a {
  text-decoration: none;
}

#contactText {
  margin-bottom: 90px;
  max-width: 540px;
  height: 521px;
  background: linear-gradient(145deg, #fffbf5, rgba(255, 251, 245, 0));
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#contactContainer {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.form-group input {
  width: 395px;
  height: 56px;
  border-radius: 4px;
  margin-bottom: 12px;
  border: 1px solid lightgray;
}

.form-group input::placeholder {
  font-size: 16px;
  font-weight: 500;
  padding-left: 13px;
}
.form-group textarea {
  width: 395px;
  height: 151px;
  font-size: 16px;
  font-weight: 500;
  padding-left: 13px;
  border-radius: 4px;
  margin-bottom: 12px;
  border: 1px solid lightgray;
}

#submit {
  width: 222px;
  height: 56px;
  border-radius: 4px;
  border: none;
  padding: 6px 25px 6px 25px;
  background-color: #8b5304;
  color: white;
}

form {
  margin-left: 200px;
}

#main-footer {
  height: 320px;
  background-color: var(--brownText-color);
}

#footer-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding-top: 60px;
}

#main-footer ul {
  list-style: none;
  margin-top: 20px;
  margin-bottom: 8px;
}

#footer-lead-p {
  max-width: 360px;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: white;
}

#left {
  padding-left: 150px;
}

#left svg {
  color: rgba(255, 255, 255, 0.32);
  font-size: 24px;
  margin-right: 28px;
}

#left #socialsIcons a {
  text-decoration: none;
}

#left img {
  width: 100px;
  margin-bottom: 20px;
}

/* #right {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 100px;
  padding-right: 150px;
} */

#right #home-footer {
  margin-right: 600px;
}

#right ul li a {
  text-decoration: none;
  color: #fffbf5;
  font-size: 14px;
  font-weight: 400;
  line-height: 29px;
}

#right p {
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.8px;
  font-size: 16px;
  color: var(--orange-color);
  margin-bottom: -15px;
}

.line {
  width: 1128px;
  border: 1px solid rgba(255, 255, 255, 0.12);
  padding-top: -40px;
}

#line {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

#line p {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: white;
}

/* mobile view  ///////////////////////////////////////////////////// */

@media (max-width: 500px) {
  #container {
    margin: auto;
    overflow: hidden;
  }

  #container #main-nav {
    display: block;
  }

  /* nav ul li {
    margin-left: 9px;
    line-height: 29px;
  }
  nav ul li a {
    text-decoration: none;
    color: var(--linkText-color);
    font-size: 12px;
    font-weight: 500;
    line-height: 29px;
    font-family: mulish;
  } */

  header {
    /* max-width: 400px; */
    flex-direction: column-reverse;
    margin: auto;
    height: 900px;
  }

  #headerImage img {
    width: 400px;
    height: 285px;
    margin-left: 90px;
    margin-top: -130px;
  }

  #headerContent {
    text-align: center;
    margin: auto;
    position: absolute;
    margin-left: 50px;
    margin-top: 20px;
  }

  #headerContent h1 {
    font-size: 32px;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: 1.25px;
    width: 289px;
    padding-top: 40px;
  }

  #headerContent #headText {
    font-size: 17px;
    line-height: 24px;
    width: 304px;
    text-align: center;
  }

  #headerContent #trusted {
    margin-left: -10px;
  }

  #headerbtn {
    margin-top: 50px;
    margin-left: -10px;
  }

  /* about section ////////////////////////////////////////////// */

  #about {
    max-width: 400px;
    /* margin-bottom: 200px; */
    margin-top: -50px;
  }

  #about #about-lead {
    font-size: 18px;
  }

  #about h2 {
    max-width: 338px;
    font-size: 30px;
    font-weight: 700;
  }

  #about #about-lead-p {
    width: 313px;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
  }

  #aboutCards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 5px; */
    margin-left: -16px;
  }

  /* account section   //////////////////////////////////////////////////// */

  #account {
    /* max-width: 400px; */
    height: 900px;
    text-align: center;
    flex-direction: column;
  }
  #accountContent {
    margin-top: 30px;
    width: 350px;
  }

  #account h2 {
    width: 346px;
    font-size: 20px;
  }

  #account-lead-p {
    margin-top: 20px;
    margin-bottom: 0px;
  }

  #account-lead {
    width: 277px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 40px;
  }

  #account #accountbtn {
    width: 310px;
    height: 56px;
    font-size: 18px;
    border-radius: 4px;
    background-color: #fd7e14;
    color: var(--blueText-color);
    border: none;
    margin-top: 30px;
    margin-left: 1px;
  }

  #accountImage img {
    width: 370px;
    height: 226px;
    margin-left: 50px;
    margin-top: -50px;
  }

  /* team section /////////////////////////////////////////////////////////// */

  /* #team {
    
  } */

  #team h2 {
    font-size: 32px;
    width: 356px;
  }

  #emojiTeam {
    margin-top: 64px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }

  /* refer section   ///////////////////////////////////////////////////// */
  #refer {
    /* max-width: 400px; */
    height: 720px;
    flex-direction: column-reverse;
  }

  #refer #referContent {
    text-align: center;
    margin: auto;
  }

  #refer-h2 {
    font-size: 32px;
    font-weight: 700;
    width: 234px;
    padding-top: 10px;
    margin: auto;
  }

  #refer-lead-p {
    width: 250px;
  }

  #refer #referbtn {
    margin: auto;
    margin-top: 24px;
  }

  #referImage img {
    width: 365px;
    height: 260px;
    margin-top: -30px;
    margin-left: 0px;
  }

  /* section join  /////////////////////////////////////////////////////// */
  #join {
    flex-direction: column;
    height: 800px;
  }

  #joinContent {
    height: 600px;
    width: 350px;
    margin: auto;
    margin-top: -100px;
  }

  #join-h2 {
    margin-bottom: 200px;
    font-size: 25px;
    margin-left: 70px;
  }

  #join-lead {
    font-size: 24px;
    margin: auto;
    margin-bottom: 20px;
  }

  /* #joinContent #join-lead-p {
    padding-top: -150px;
  } */

  #joinImage img {
    width: 353px;
    height: 255px;
    margin-left: 20px;
  }

  /* contact setion  /////////////////////////////////////////////////////// */
  #contact #contactContainer {
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
    /* margin-top: -150px; */
  }

  #contact-lead {
    display: none;
  }

  #contact #contactContainer #contactText {
    height: 240px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  #socialsIcons {
    padding-left: 40px;
  }

  #form {
    margin: auto;
    margin-top: -50px;
    margin-left: -173px;
    /* padding-bottom: 30px; */
  }

  .form-group input {
    width: 335px;
    height: 56px;
    border-radius: 4px;
    margin-bottom: 12px;
    border: 1px solid lightgray;
  }

  .form-group input::placeholder {
    font-size: 16px;
    font-weight: 500;
    padding-left: 13px;
  }
  .form-group textarea {
    width: 335px;
    height: 151px;
    font-size: 16px;
    font-weight: 500;
    padding-left: 13px;
    border-radius: 4px;
    margin-bottom: 12px;
    border: 1px solid lightgray;
  }

  /* footer sectionn ///////////////////////////////////////////////////// */
  #main-footer {
    /* max-width: 400px; */
    height: 500px;
  }

  #footer-content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-left: 50px;
  }

  #footer-content #left {
    margin-left: -150px;
  }

  #footer-content #right {
    margin-left: -120px;
  }

  #footer-lead-p {
    width: 326px;
    font-size: 16px;
    font-weight: 400px;
    margin-bottom: 40px;
  }

  /* #right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0px;
    margin-top: 50px;
  } */

  #right #home-footer {
    margin-left: 120px;
    width: 300px;
  }

  /* open account section //////////////////////////////////////////////////////////// */

  #container #create-account {
    height: 800px;
  }

  #create-account a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #000;
    margin-top: 40px;
  }

  #create-account #create-account-info #geda-logo {
    margin-top: -80px;
  }

  #create-account #create-account-image img {
    display: none;
  }

  #create-account #create-account-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding-top: -50px;
    margin: auto;
    margin-left: 30px;
  }

  #create-account-info h1 {
    letter-spacing: 1.5px;
    font-weight: 700;
    font-size: 32px;
    padding-bottom: 0px;
  }

  #create-account-info h2 {
    font-size: 18px;
    font-weight: 500;
    color: #808080;
    letter-spacing: 1px;
    padding-bottom: 60px;
  }

  #create-account-info #form {
    margin-left: -200px;
  }

  #create-account #create-account-info .form-group input {
    width: 330px;
    height: 50px;
    border-radius: 4px;
    margin-bottom: 25px;
    border: 1px solid lightgray;
  }

  #create-account #sign-up {
    width: 330px;
    height: 50px;
    font-size: 18px;
    border-radius: 4px;
    border: none;
    padding: 6px 25px 6px 25px;
    background-color: #fd7e14;
    color: black;
    margin-bottom: 20px;
  }

  #create-account-info-bottom {
    text-align: center;
  }

  #create-account-info-bottom #under-signup {
    font-size: 18px;
    letter-spacing: 1px;
  }

  #create-account-info-bottom #under-signup span a {
    color: #fd7e14;
  }

  #create-account #create-account-info-bottom #create-account-line {
    border: 1px solid #cccccc;
    width: 320px;
  }

  #create-account #create-account-info-bottom #reset-line {
    width: 330px;
  }

  #create-account #create-account-info-bottom #under-line-p {
    width: 350px;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 20px;
    margin-bottom: 20px;
    text-align: center;
  }

  /* reset password */
  #create-account-info #geda-logo-reset img {
    margin-top: -40px;
  }

  #create-account-info #reset-back {
    margin-top: 0px;
    margin-top: -90px;
  }

  .reset-info {
    margin-top: -40px;
  }

  #create-account-info #reset-h2 {
    width: 300px;
  }

  /* faq section  ///////////////////////////////////////////////////////////////// */
  #container-faq #create-account-faq #faq {
    margin: auto;
  }

  #create-account-image-faq img {
    display: none;
  }

  #faq #faq-logo img {
    margin-top: -90px;
    margin-left: -20px;
    margin-bottom: 50px !important;
  }

  #container-faq #create-account-faq #faq #bottom #faq-line {
    border: 1px solid #ccc;
    width: 245px;
  }

  #container-faq #create-account-faq #faq {
    width: 350px;
    margin-right: 110px;
  }

  #container-faq #create-account-faq #faq a {
    text-decoration: none;
    color: #000;
    margin-left: -40px;
    margin-bottom: 20px;
  }

  #container-faq #create-account-faq #faq h1 {
    padding-bottom: 20px;
  }

  #container-faq #create-account-faq #faq ul li {
    font-size: 18px;
    width: 330px;
  }

  #container-faq #create-account-faq #faq ul {
    margin-bottom: -150px;
  }

  /* job page section //////////////////////////////////////////////////////// */
  #container #job {
    display: none;
    max-width: 500px;
    height: 100%;
  }

  #container #job #job-image {
    display: none;
  }

  /* #job #job-content {
    max-width: 500px;
  } */

  #job #job-content h1 {
    padding-bottom: 5px;
    margin-left: -50px;
  }

  #job #job-content #job-back-a {
    margin-top: 40px;
    margin-left: -50px;
  }

  #container #job #job-content .job-card {
    padding-left: -200px;
    border-radius: 4px;
  }

  /* stay-tuned page ////////////////////////////////////////////// */
  #tuned-image img {
    display: none;
  }

  #container #stay-tuned #tuned-content {
    background-color: var(--bg-color);
    /* width: 100vh; */
    /* width: auto; */
  }

  #container #stay-tuned #tuned-content #tuned-back {
    padding-bottom: 0px;
  }

  #container #stay-tuned #tuned-content #tuned-bottom #tuned-line {
    border-bottom: 1px solid #cccccc;
    max-width: 330px;
    margin-top: 10px;
    margin-left: 45px;
  }

  #container #stay-tuned #tuned-content a {
    text-decoration: none;
    color: #000;
    margin-top: 80px;
    margin-left: 50px;
  }

  #container #stay-tuned #tuned-content h1 {
    margin-bottom: 10px;
    margin-top: 50px;
    margin-left: 50px;
  }

  #container #stay-tuned #tuned-content #tuned-p {
    font-size: 30px;
    width: 200px;
    margin-left: 50px;
  }

  #container #stay-tuned #tuned-content #tuned-bottom p {
    margin-left: 90px;
  }
}

/* open account section //////////////////////////////////////////////////////////// */
#create-account {
  height: 100vh;
  display: flex;
  justify-content: space-between;
}

#container #create-account-info #geda-logo img {
  width: 100px;
  margin-bottom: -70px;
}

#create-account a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #000;
}

#create-account #create-account-image img {
  height: 100vh;
  width: 600px;
}

#create-account-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  height: 700px;
  margin-top: 100px;
  margin-right: 350px;
}

#create-account-info h1 {
  letter-spacing: 1.5px;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 10px;
}

#create-account-info h2 {
  font-size: 18px;
  font-weight: 500;
  color: #808080;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

#create-account-info #form {
  margin-left: -200px;
}

#create-account-info .form-group input {
  width: 395px;
  height: 56px;
  border-radius: 4px;
  margin-bottom: 25px;
  border: 1px solid lightgray;
}

#sign-up {
  width: 395px;
  height: 50px;
  font-size: 18px;
  border-radius: 4px;
  border: none;
  padding: 6px 25px 6px 25px;
  background-color: #fd7e14;
  color: #0a2440;
  margin-bottom: 20px;
}

#create-account-info-bottom {
  margin-left: 200px;
}

#create-account-info-bottom #under-signup {
  font-size: 18px;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

#create-account-info-bottom #under-signup span a {
  color: #fd7e14;
}

#create-account-info-bottom #create-account-line {
  border: 1px solid #cccccc;
  width: 680px;
  margin-bottom: 10px;
}

#create-account-info-bottom #under-line-p {
  width: 660px;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 20px;
  margin-bottom: 20px;
}

#create-account-info #create-account-info-bottom #bottom {
  position: absolute;
  bottom: 0;
  /* padding-top: 100px; */
}

/* forgot password section   ///////////////////////////////////////////////// */

#create-account-info-bottom #forgot-password {
  font-size: 24px;
  letter-spacing: 2px;
  line-height: 20px;
  margin-bottom: 15px;
  color: #fd7e14;
}

#create-account-info #geda-logo-reset img {
  width: 100px;
  margin-bottom: 70px;
}

#create-account-info-bottom #forgot-password a {
  color: #fd7e14;
}

#reset-h2 {
  width: 480px;
  padding-bottom: 20px;
}

#create-account-info-bottom #reset-line {
  border: 1px solid #cccccc;
  width: 680px;
  margin-bottom: 10px;
  margin-top: 300px;
}

/* faq section  /////////////////////////////////////////////////////////////////// */

#container-faq #create-account-faq {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#create-account-image-faq img {
  height: 100vh;
  width: 700px;
}

#container-faq #create-account-faq #faq {
  padding-left: 100px;
  margin-top: 100px;
}

#faq #faq-logo img {
  width: 100px;
  margin-bottom: 100px;
}

#container-faq #create-account-faq #faq a {
  text-decoration: none;
  color: #000;
}

#container-faq #create-account-faq #faq h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 30px;
}

#container-faq #create-account-faq #faq ul {
  margin-left: -20px;
}
#container-faq #create-account-faq #faq li {
  width: 500px;
  font-size: 18px;
  margin-bottom: 30px;
}

#container-faq #create-account-faq #faq #faq-line {
  border: 1px solid #cccccc;
  width: 680px;
  margin-bottom: 20px;
  margin-top: 200px;
}

#container-faq #create-account-faq #faq #faq-copy {
  margin-top: 10px;
  margin-bottom: 10px;
}

#container-faq #create-account-faq #faq #bottom {
  position: absolute;
  bottom: 1;
}

/* job pagee //////////////////////////////////////////////////////// */

#container #job {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1440px;
}

#container #job-logo img {
  width: 100px;
  margin-left: -180px;
  margin-top: 10px;
}

#container #job #job-image img {
  width: 700px;
  height: 100vh;
}

#container #job #job-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  width: 700px;
  margin-left: -50px;
}

#container #job #job-content a {
  color: #000;
  text-decoration: none;
  font-size: 18px;
  margin-bottom: 30px;
  padding-top: -100px;
}

#container #job #job-content h1 {
  color: var(--orange-color);
  text-decoration: none;
  font-size: 25px;
  margin-bottom: 10px;
}

#container #job #job-content .job-card {
  background-color: white;
  box-shadow: 0px 20px 50px 0px rgba(18, 17, 39, 0.08);
  width: 350px;
  height: 450px;
  padding: 30px 30px;
  margin-top: 30px;
  margin-left: 40px;
  border-radius: 4px;
}

#container #job #job-content .job-card p {
  color: #808080;
  line-height: 24px;
}

#container #job #job-content .job-card a {
  color: #6a0ff3;
}

#container #job #job-content #job-cards svg {
  font-size: 30px;
  margin-bottom: 10px;
  color: rgb(16, 151, 242);
}

#job-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 500px) {
  #job-cards {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: -80px;
    margin-bottom: 30px;
  }
}

/* stay-tuned page ////////////////////////////////////////////// */

#stay-tuned {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* width: 1440px; */
}

#container #stay-tuned #tuned-image img {
  width: 700px;
  height: 100vh;
}

#container #tuned-content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  width: 700px;
  margin-left: -50px;
}

#container #stay-tuned #tuned-content a {
  text-decoration: none;
  color: #000;
  padding-bottom: 400px;
}

#container #stay-tuned #tuned-content h1 {
  font-size: 20px;
  color: #ed8e06;
}

#container #stay-tuned #tuned-content > p {
  font-size: 56px;
  width: 400px;
}

#container #stay-tuned #tuned-content #tuned-bottom #tuned-line {
  border-bottom: 1px solid #cccccc;
  width: 620px;
}

#container #stay-tuned #tuned-content #tuned-bottom {
  margin-bottom: 10px;
  padding-top: 500px;
}
